/* We Need to make the margin smaller, since we
 * are using only the button to display the 
 * navigation panel */
.ui-header .ui-title, .ui-footer .ui-title {
	font-size: 1em;
	min-height: 1.1em;
	text-align: center;
	display: block;
	margin: 0 10%;
	padding: .7em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0!important;
}